/* theme.css */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

/* Initial styles for the body */
body {
  font-family: "Inconsolata", monospace;
  font-size: 24px; /* Corresponds to 'md' in the theme */
  color: white; /* Assuming dark mode */
  background: linear-gradient(to right, orange, pink);
}

/* Font sizes */
.font-xs {
  font-size: 12px;
}

.font-sm {
  font-size: 18px;
}

.font-md {
  font-size: 24px;
}

.font-lg {
  font-size: 32px;
}

.font-xl {
  font-size: 38px;
}

.font-xxl {
  font-size: 48px;
}

.font-xxxl {
  font-size: 64px;
}

.font-xxxxl {
  font-size: 72px;
}

/* Heading styles */
h1, h2, h3, h4, h5, h6 {
  font-family: "Inconsolata", monospace;
  font-size: 38px; /* Corresponds to 'xl' in the theme */
  font-weight: 900;
}

.my-custom-cursor {
  animation: blink-cursor 1s step-end infinite;
}

@keyframes blink-cursor {
  from, to {
      opacity: 0;
  }
  50% {
      opacity: 0;
  }
}

.my-custom-cursor.hide-cursor {
  opacity: 0; /* Hide the cursor */
  animation: none; /* Stop the blinking animation */
}